.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
    min-height: 500px;
}

.btn {
    font-size: 22px;
    padding: 16px 45px;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #66cdaa;
    border-bottom: 4px solid #3cb78d;
    transition: .2s;
}

.btn:active {
    background-color: #40c095;

}